services:
  db:
    image: postgres:15
    container_name: projeto_zero_db
    env_file:
      - .env # Removi o ./ para testar o padrão simples
    environment:
      # Força a leitura explícita do que está no seu .env
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: ./app
    container_name: projeto_zero_api
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
      # Montamos o .env diretamente dentro da pasta da API para o python-dotenv achar
      - ./.env:/app/.env 
    env_file:
      - ./.env
    depends_on:
      db:
        condition: service_healthy

  dashboard:
    build: ./dashboard
    container_name: projeto_zero_dash
    restart: always
    ports:
      - "8501:8501"
    volumes:
      - ./dashboard:/app
    env_file: 
      - ./.env
    depends_on:
      - api
    environment:
      - API_URL=http://api:8000